.container-{
    display: flex;
    color: rgb(2, 2, 79);
    justify-items: center;
    text-align: center;
    padding: 30px;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.posicao{
    margin-top: 40px;
}