<!--Teste Voltar depois-->
    
<div class="container-">
    <button (click)="exibirComidas()">
        <li type="none">
          Comida
          <img src="assets/Comida.svg" alt="" class="posicao">
        </li>
      </button>
    
      <div class="alert alert-warning">
        Você esqueceu
        <a href="#" class="alert-link">Esqueci</a>
      </div>
    
      <button (click)="exibirBebidas()">
        <li type="none">
          Bebida
          <img src="assets/Bebida.svg" alt="">
          
        </li>
        
      </button>
      
    </div>

    {{ComidasEbebidas.titulo}}
