.tamanhoImagem{
    width: 130px;
}

#espacamentoContent{
    margin-top: 15px;
    padding: 20px;
}

.navbar-container{
.item-nav{
    color: var(--bs-gray-800);

    &.active{
        color: var(--bs-red);
    }
}
}