$backgroud: rgb(0, 24, 10);
$primaryback: rgb(184, 153, 19);
$secundeColor: blue;
$treendColor: yellow;
$neutroColor: #333;
$backbutton: rgb(202, 194, 194);
$button: rgb(24, 2, 2);
$backtext: rgb(245, 248, 245);